/*--------------------------*/
/* Подключение шрифта Arial */
@font-face {
  font-family: "Arial";
  src: url("../resources/fonts/Arial/Arial-ItalicMT.eot");
  src: local("Arial Italic"), local("Arial-ItalicMT"),
    url("../resources/fonts/Arial/Arial-ItalicMT.eot?#iefix")
      format("embedded-opentype"),
    url("../resources/fonts/Arial/Arial-ItalicMT.woff2") format("woff2"),
    url("../resources/fonts/Arial/Arial-ItalicMT.woff") format("woff"),
    url("../resources/fonts/Arial/Arial-ItalicMT.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Arial";
  src: url("../resources/fonts/Arial/ArialMT.eot");
  src: local("Arial"), local("ArialMT"),
    url("../resources/fonts/Arial/ArialMT.eot?#iefix")
      format("embedded-opentype"),
    url("../resources/fonts/Arial/ArialMT.woff2") format("woff2"),
    url("../resources/fonts/Arial/ArialMT.woff") format("woff"),
    url("../resources/fonts/Arial/ArialMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("../resources/fonts/Arial/Arial-BoldItalicMT.eot");
  src: local("Arial Bold Italic"), local("Arial-BoldItalicMT"),
    url("../resources/fonts/Arial/Arial-BoldItalicMT.eot?#iefix")
      format("embedded-opentype"),
    url("../resources/fonts/Arial/Arial-BoldItalicMT.woff2") format("woff2"),
    url("../resources/fonts/Arial/Arial-BoldItalicMT.woff") format("woff"),
    url("../resources/fonts/Arial/Arial-BoldItalicMT.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Arial Narrow";
  src: url("../resources/fonts/Arial/ArialNarrow-BoldItalic.eot");
  src: local("Arial Narrow Bold Italic"), local("ArialNarrow-BoldItalic"),
    url("../resources/fonts/Arial/ArialNarrow-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../resources/fonts/Arial/ArialNarrow-BoldItalic.woff2") format("woff2"),
    url("../resources/fonts/Arial/ArialNarrow-BoldItalic.woff") format("woff"),
    url("../resources/fonts/Arial/ArialNarrow-BoldItalic.ttf")
      format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Arial Narrow";
  src: url("../resources/fonts/Arial/ArialNarrow-Bold.eot");
  src: local("Arial Narrow Bold"), local("ArialNarrow-Bold"),
    url("../resources/fonts/Arial/ArialNarrow-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../resources/fonts/Arial/ArialNarrow-Bold.woff2") format("woff2"),
    url("../resources/fonts/Arial/ArialNarrow-Bold.woff") format("woff"),
    url("../resources/fonts/Arial/ArialNarrow-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Arial Narrow";
  src: url("../resources/fonts/Arial/ArialNarrow-Italic.eot");
  src: local("Arial Narrow Italic"), local("ArialNarrow-Italic"),
    url("../resources/fonts/Arial/ArialNarrow-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../resources/fonts/Arial/ArialNarrow-Italic.woff2") format("woff2"),
    url("../resources/fonts/Arial/ArialNarrow-Italic.woff") format("woff"),
    url("../resources/fonts/Arial/ArialNarrow-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Arial Narrow";
  src: url("../resources/fonts/Arial/ArialNarrow.eot");
  src: local("Arial Narrow"), local("ArialNarrow"),
    url("../resources/fonts/Arial/ArialNarrow.eot?#iefix")
      format("embedded-opentype"),
    url("../resources/fonts/Arial/ArialNarrow.woff2") format("woff2"),
    url("../resources/fonts/Arial/ArialNarrow.woff") format("woff"),
    url("../resources/fonts/Arial/ArialNarrow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("../resources/fonts/Arial/Arial-BoldMT.eot");
  src: local("Arial Bold"), local("Arial-BoldMT"),
    url("../resources/fonts/Arial/Arial-BoldMT.eot?#iefix")
      format("embedded-opentype"),
    url("../resources/fonts/Arial/Arial-BoldMT.woff2") format("woff2"),
    url("../resources/fonts/Arial/Arial-BoldMT.woff") format("woff"),
    url("../resources/fonts/Arial/Arial-BoldMT.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
